body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  text-align: center;
  line-height: 18px; }

p.main {
  text-align: center;
}


th {
  height: 10px;
  text-align: left;
}

td {
  height: 40px;
  vertical-align: bottom;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  padding-left: 10px;
  padding-right: 10px;
  color: #000; }

a:visited {
  color: #666; }

  h1, h2{
    text-align: center;
  }

  h3{
    text-align: left;
  }

a:hover {
  color: grey;
  background-color: grey;
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
